body { display: flex; flex-wrap: wrap; font-family: sans; color: #424242; background-color: #fffff8; }
header { flex-basis: 100%; flex-shrink: 0; }
article { flex-basis: 60%; padding-left: 1em; min-height: 65vh;}
//footer { flex-basis: 100%; flex-shrink: 0; justify-content: flex-start;}
footer{ width: 100%};
header nav { display: flex; justify-content: space-between;}
nav a, header a { text-decoration: none ; color: inherit; }
header h1 span { margin-left: 1em; font-size: 50%; font-style: italic; }

body > nav { flex-basis: content; padding-right: 1vw; min-width: 16em; border-right: solid 1px #98ece8;}
nav{ display: flex; justify-content: space-between;}

nav ul { display: flex; flex-direction: column; list-style-type: none; list-style-position: outside; padding-left: 0;  }
nav li ul { padding-left: 0.6em }

header nav { border-bottom: solid 1px #98ece8; padding-bottom: 1%}
header{border-bottom: solid 1px #98ece8; margin-bottom: 1%;}
body footer { border-top: solid 1px #98ece8; padding-top: 1%; margin-top: 1%;}
body > nav > div a { color: #4fa8a8; } 
body > nav > div a:hover { color: white; background-color: #4fa8a8 ; }   

.watermark{
	position: fixed;
	bottom: 10px;
	right: 10px;	max-width: 10%;
	opacity: 0.4;
}
.watermark:hover{
	opacity: 1;
}
footer > div{}
.fortune{
	text-align: center;
	width: 50%;
	margin: auto;
}

.power{
	min-width: 16em
}

article a { color: #4fa8a8; } 
article a:visited {color: #9988c8;}
article a:hover { color: white; background-color: #4fa8a8 ; }

img { max-width: 60%;}.full { display: none}.thumb { display: block; max-width: 20%; margin: 1%; padding: 1%; border: solid 2px #4fa8a8;}.thumb:hover + .full { display: block; max-width: 80%; max-height: 90%;position: fixed;z-index: 1; top: 10px; right: 10px;}

pre{border: solid 1px; padding 1px;}
