<audio controls src="fiddleaboutwithit.ogg"<a href="fiddleaboutwithit.ogg">fiddleaboutwithit.ogg</a>Your browser or OS does not have support for free codecs</audio>
<audio controls src="forgingunexpectedreboot.ogg"<a href="forgingunexpectedreboot.ogg">forgingunexpectedreboot.ogg</a>Your browser or OS does not have support for free codecs</audio>
<audio controls src="haveyoutriedturningitoffandonagain.ogg"<a href="haveyoutriedturningitoffandonagain.ogg">haveyoutriedturningitoffandonagain.ogg</a>Your browser or OS does not have support for free codecs</audio>
<audio controls src="itcantbedone.ogg"<a href="itcantbedone.ogg">itcantbedone.ogg</a>Your browser or OS does not have support for free codecs</audio>
<audio controls src="needtoturniton.ogg"<a href="needtoturniton.ogg">needtoturniton.ogg</a>Your browser or OS does not have support for free codecs</audio>
